.settings/
target/
target-idea/
*.jar
lib/
*.jar
*.class
classes/
lib/
CVS/
.settings
.project
.classpath
/.externalToolBuilders
.externalToolBuilders/
.idea/
*.iml
nb-configuration.xml
.directory

.factorypath
